button {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}


html { 
    background: url(https://image.freepik.com/free-photo/rows-red-seats-theater_53876-64710.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
      
      @media screen and (max-width: 1024px) { 
        img.bg {
          left: 50%;
          margin-left: -512px; 
        }
      }