.fiveDayColor {
    padding: 20px;
    background-color:rgba(149, 172, 161, 0.589);
    color:cornsilk ;
    float: left;
    margin: 10px;
    border: 1px solid lightgray;
}

.weather {
    margin-bottom: 200px;
}
/* carousel format */
img{
	width: 100%;
    height: 600px;
}
/* carousel text */
.cText{
    font-size: 24px;
    font-family: 'Overpass', sans-serif;
    font-weight: bolder;
    padding-top: 10px;
}
/* carousel caption */
#cCaption{
    align-items: left;
}